<div class="mobile-menu sidebar is-hidden-desktop" data-target="sidebar.container">
  <div class="sidebar-overlay" data-action="click->sidebar#close"></div>
  <div class="sidebar-content is-right">
    <header class="mobile-menu-header">
      <%= render partial: 'shared/mobile_menu/header' %>
    </header>
    <div class="mobile-menu-content">
      <%= render partial: 'shared/mobile_menu/content' %>
    </div>
    <footer class="mobile-menu-footer">
      <%= render partial: 'shared/mobile_menu/footer' %>
    </footer>
  </div>
</div>
