<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Hello, World!
      </h1>
      <h2 class="subtitle">
        Current time is: <%= Time.current %>
      </h2>
    </div>
  </div>
</section>
