<% @posts.each do |post| %>
  <article class="message">
    <div class="message-header">
      <p>
        <%= link_to post.title, post_path(post) %>
      </p>
    </div>
    <div class="message-body">
      <%= post.content %>
    </div>
  </article>
<% end%>
