@import 'bulmaswatch/superhero/_variables';
@import 'bulma/bulma';
@import 'bulmaswatch/superhero/_overrides';

.message-body > p {
  word-wrap: break-word;
}

trix-toolbar {
  .trix-button {
    background: $light;

    .active {
      background: $grey-darker;
    }
  }
}

.trix-content[contenteditable] {
  background-color: $body-background-color;
}

// Extending Bulma content to trix-content for better formatting
.trix-content {
  @extend .content;

  code {
    background-color: $background;
  }

  pre {
    background-color: $background;
  }

  h1 {
    @extend .title;
  }
}
